.sidebar__picture {
  display: block;
  width: 100%;
  height: auto;
  max-width: 9rem;
  max-height: 9rem;
  border-radius: 100%;
  margin: 0 auto 1rem;
}

.sidebar__introduction {
  margin-bottom: 1rem;
}

.sidebar__links {
  text-align: center;
}

.sidebar__link {
  padding: 0 0.1rem;
  margin: 0 0.2rem;
}

@media not print {
  .sidebar__picture-wrapper,
  .sidebar__content {
    width: 100%;
  }
}

@media print {
  .sidebar__header,
  .sidebar__introduction {
    text-align: left;
    padding: 0;
  }

  .sidebar__link {
    text-align: left;
    line-height: 1.5rem;
    padding: 0;
    margin: 0 1rem 0 0;
  }
}

