.ui__header {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  color: var(--base03);
}

h1.ui__header {
  font-size: 1.6rem;
}

h2.ui__header {
  font-size: 1.5rem;
}

h3.ui__header {
  font-size: 1.2rem;
}

.ui__text-block {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--base03);
  display: block;
}

.ui--text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.ui__text-block--secondary {
  font-size: 0.8rem;
}

.ui__link {
  text-decoration: none;
  color: var(--base00);
}

.ui__link:hover {
  color: var(--base002);
}

.ui--padded {
  padding: 0 2rem;
}

.ui--centered {
  text-align: center;
}

.ui--bullet {
  position: relative;
}

.ui--bullet:before {
  content: '•';
  color: var(--base002);
  position: absolute;
  left: -1rem;
  font-size: 1.2rem;
}


