@import '../variables.scss';

%ui-text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: initial;

  @include screen-print {
    /**
     * @TODO remove when phantomjs fix font bug
     */

    font-family: Helvetica, Arial, sans-serif;
  }
}

%ui-header {
  color: $base03;
  margin: 0 0 1em;
}

@for $i from 1 through 6 {
  h#{$i}{
    @extend %ui-text;
    @extend %ui-header;
  }
}

p {
  @extend %ui-text;
  margin-bottom: 0;

  @include screen-print {
    margin-top: .5em;
  }
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.ui {
  &--text {
    @extend %ui-text;
  }

  &--bullet {
    position: relative;
    margin-left: 1.2em;

    @include screen-md {
      margin-left: 0;
    }

    &:before {
      @include screen-print {
        color: $base02;
      }

      content: '•';
      color: $base002;
      position: absolute;
      left: -1em;
      font-size: 1.2em;
    }
  }

  &__bullet-list {
    margin: 0;
    padding: 0;
  }

  &__text-block {
    font-size: 1em;
    line-height: 1.5em;
    color: $base03;
    display: block;

    &--secondary {
      font-size: 0.8em;
    }
  }

  &__link {
    @extend %ui-text;
    text-decoration: none;
    color: $base00;

    &:hover {
      color: $base002;
    }

    &--description:after {
      @include screen-print {
        content: attr(data-description);
        margin-left: 0.5em;
      }
    }
  }

  &__header--section {
    @include screen-print {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        background: $base02;
        height: 1px;
      }
    }
  }
}
