@import '../variables.scss';

%ui-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: initial;
}

.ui {
  &--text {
    @extend %ui-text;
  }

  &--padded {
    padding: 0 2rem;
  }

  &--centered {
    text-align: center;
  }

  &--bullet {
    position: relative;
    margin-left: 1rem;

    @include screen-md {
      margin-left: 0;
    }

    &:before {
      content: '•';
      color: $base002;
      position: absolute;
      left: -1rem;
      font-size: 1.2rem;
    }
  }

  &__header {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    color: $base03;

    &--main {
      font-size: 1.6rem;
    }

    &--section {
      font-size: 1.5rem;
    }

    &--subsection {
      font-size: 1.2rem;
    }
  }

  &__text-block {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $base03;
    display: block;

    &--secondary {
      font-size: 0.8rem;
    }
  }

  &__link {
    @extend %ui-text;
    text-decoration: none;
    color: $base00;

    &:hover {
      color: $base002;
    }

    &--print:after {
      @include screen-print {
        content: attr(data-print);
        margin-left: 0.5rem;
      }
    }
  }
}

