{% assign links = include.values %}
{% assign blockName = "aside-box" %}

<div class="{{ blockName }} {{ include.customClass }}">
  <div class="{{ blockName }}__content">
    <ul class="{{ blockName }}__links">
      {% for link in links %}
        <li class="{{ blockName }}__link-holder {{ blockName }}__link-holder--{{ link.name }}">
          <a href="{{ link.value }}" class="{{ blockName }}__link">
            <i class="fa {{ link.icon }}"></i>
            <span class="{{ blockName }}__link-desc" {% if link.print %}data-print-value="{{ link.print }}"{%endif%}>{{ link.display }}</span>
          </a> 
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
