{% assign blockName = "roll" %}
{% assign modifiersArray = include.modifiers | split:',' %}

{% capture modifiers %}
  {% for modifier in modifiersArray %}
    {{ blockName }}--{{ modifier }}
  {% endfor %}
{% endcapture %}

<div class="{{ blockName }} {{modifiers}}">
  <span class="{{ blockName }}__label">{{ include.label }}</span>
  <ul class="{{ blockName }}__list">
  {% for item in include.list %}
    <li class="{{ blockName }}__item">
      <span class="{{ blockName }}__item-content">{{ item | makrdownify }}</span>
    </li>
  {% endfor %}
  </ul>
</div>
