.aside-box {
    flex-basis: 40%;

    &__content {
        background: $secondary-color;
        padding: .3em  1em;
        border-radius: .2em;
    }

    &__links {
        margin: 0;
        list-style: none;
    }

    &__link {
        white-space: nowrap;
        .fa {
            width: 1.5em;
            text-align: center;
        }
    }
}
