.aside-box {
  @include media-query($mq-sm) {
    flex-basis: 40%;
  }

  &__content {
    background: $secondary-color;
    padding: .3em  1em;
    border-radius: .2em;
  }

  &__links {
    margin: 0;
    list-style: none;
  }

  &__link {
    white-space: nowrap;
    display: block;
    margin: $quater-spacing 0;

    @include media-query($mq-md) {
      display: inline;
      margin: 0;
    }
    
    .fa {
      width: 1.5em;
      text-align: center;
    }
  }

  &__link-holder {
    &--www {
      display: none;

      @media print {
        display: block;
      }
    }
  }

  &__link-desc {
    &[data-print-value] {
      @media print {
        font-size: 0;

        &:before {
          content: attr(data-print-value);
          font-size: $print-base-font-size;
        }
      }
    }
  }
}
