@media print {
  p a[href^="http://"]:after {
    content: " (" attr(href) ")";
    font-size: 90%;
    text-decoration: underline;
  }

  a,
  a:visited,
  a:hover {
    color: $text-color;
  }
}

@page {
  margin: 1.5cm;
}
