.container {
    margin: 0 auto;
    max-width: $content-width;
    padding: 0 $spacing-unit;
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__child:nth-child(2n) {
      margin-top: $half-spacing;
    }
    
    @include media-query($mq-sm) {
      flex-direction: row;

      .grid__child {
        margin-top: 0;
      }
    }
}
