$font-spacing: .3em;
$roll-spacing: .3rem;
$roll-extra-spaccing: 1rem;

.roll {
  margin-top: $roll-spacing;
  font-size: 0;

  &--extra-spacing {
    margin-top: $roll-extra-spaccing;

    @media print {
      margin-top: ($roll-extra-spaccing / 2);
    }

    & + .roll {
      margin-top: $roll-spacing;

      @media print {
        margin-top: 0;
      }
    }
  }

  &--flex {
    display: flex;
  }

  &--sm-column {
    flex-direction: column;

    @include media-query($mq-sm) {
      flex-direction: row;
    }

    @media print {
      flex-direction: row;
    }
  }

  &__label {
    color: $tertiary-color;
    font-size: $base-font-size;
    white-space: nowrap;
    vertical-align: top;

    &:after {
      content: ':';
      margin-right: $font-spacing;
    }
  }

  &__list {        
    margin: 0;
    list-style: none;
    display: inline-block;
  }

  &__item {
    display: inline-block;
    font-size: 0;

    &:after {
      content: ',';
      font-size: $base-font-size;
      margin-right: $font-spacing;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }

  &__item-content {
    font-size: $base-font-size;

    .roll--tags & {
      background: $secondary-color;
      border-radius: .3em;
      padding: .1em .3em;

      &:before {
        content: '#';
      }
    }
  }
}
