.site-footer {
  margin: ($default-spacing * 2) 0;

  &__accept-data-process {
    display: none;
    font-size: .7em;
  }

  @media print {
    position: absolute;
    top: calc(200vh - 130px); // hardcoded - need better solution
    
    &__accept-data-process {
      display: block;
    }
  }
}
