.content__section {
  padding: 0 3rem;
}

.content__section,
.content__possition {
  margin-bottom: 2rem;
}

.content__list {
  padding: 0;
}

.content__possition:hover .ui__icon {
  visibility: visible;
}

.content__possition:hover .content__possition-link {
  color: var(--base00);
}

.content__possition:hover .content__possition-link:hover {
  color: var(--base002);
}

.content__possition-title {
  margin: 0;
}

.content__possition-details {
  color: var(--base00);
  margin-bottom: 1rem;
}

.content__possition-description {
  margin-bottom: .3rem;
}

.content__possition-link {
  color: var(--base02);
}

.content__possition-link .ui__icon {
  font-size: 0.8rem;
  margin-left: 0.4rem;
  visibility: hidden;
}

.content__possition-tagline {
  color: var(--base001);
}

.content__possition-tag {
  margin-right: 0.3rem;
  cursor: default;
  display: inline-block;
}

.content__possition-tag::before {
  content: '#';
  padding-right: 0.1rem;
}

.content__possition-tag::after {
  content: ',';
}

.content__possition-tag:last-child::after {
  content: '';
}

.content__possition-tag--highlight {
  color: var(--base002);
}

@media print {
  .content__possition-tagline {
    color: var(--base00);
  }

  .content__section {
    padding: 0 1rem;
  }
}

