@import '../variables.scss';

%content-spacing {
  padding: 0 0 2em;
}

%prevent-breaking-inside {
  @include screen-print {
    page-break-inside: avoid;
  }
}

@mixin inline-text {
  display: inline;

  &:before {
    content: '\00a0';
  }
}

@mixin link-indicator($show: true) {
  .ui__icon {
    visibility: if($show, visible, hidden);
  }
}

.content {
  &__section {
    margin-bottom: 2em;

    @include screen-print {
      padding: 0 1em;
      margin: 0;
    }

    @include screen-md {
      padding-left: 3em;
    }
  }

  &__list {
    @extend %content-spacing;
    @extend %prevent-breaking-inside;

    margin: 0;
  }

  &__position {
    @extend %content-spacing;
    @extend %prevent-breaking-inside;
    @include link-indicator;

    &:hover {
      @include link-indicator;

      &-link:hover {
        color: $base002;
      }
    }

    @include screen-md {
      @include link-indicator(false);
    }
  }

  &__position-title {
    margin: 0;
  }

  &__position-details {
    color: $base00;
    margin-bottom: 1em;
  }

  &__position-description {
    margin-bottom: .3em;
  }

  &__position-link {
    color: $base02;

    .ui__icon {
      font-size: 0.8em;
      margin-left: 0.4em;

      @include screen-print {
        display: none;
      }
    }
  }

  &__position-tagline {
    color: $base001;

    @include screen-print {
      color: $base00;
    }
  }

  &__position-tag {
    margin-right: 0.3em;
    cursor: default;
    display: inline-block;

    &--highlight {
      color: $base002;
    }

    &:before {
      content: '#';
      padding-right: 0.1em;
    }

    &:after {
      content: ',';
    }

    &:last-child::after {
      content: '';
    }
  }

  &__position-company-name {
    display: block;

    @include screen-md {
      @include inline-text;
    }

    @include screen-print {
      @include inline-text;
    }
  }
}

