@import './variables.scss';

body {
  background: $base3;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 3em auto;
  padding: 0 1em;

  @include screen-sm {
    padding: 0 3em;
  }
}

@include screen-print {
  .app__sidebar {
    width: 100%;
  }

  .app__content {
    width: 100%;
  }

  html,body {
    height: 99%;
  }

  .pure-g {
    display: block;
  }
}
