@import './variables.scss';

html,body {
  background: $base3;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 3em auto;
  padding: 0 1em;

  @include screen-sm {
    padding: 0 3em;
  }

  @include screen-print {
    margin: 0 auto;
  }
}

@include screen-print {
  .app__sidebar {
    width: 100%;
  }

  .app__content {
    width: 100%;
  }

  html,body {
    -webkit-print-color-adjust: exact;
    background-color: #fff !important;
    margin: 0 !important;
    height: 100% !important;
    font-size: 12px;
  }

  .pure-g {
    display: block;
  }
}

@page {
  margin: 2cm 2.3cm;
}

