$base3: #fdf6e3;
$base2: #eee8d5;
$base1: #93a1a1;
$base0: #839496;
$base00: #657b83;
$base01: #586e75;
$base02: #073642;
$base03: #002b36;

$base001: #b58900;
$base002: #cb4b16;
$base003: #dc322f;
$base004: #d33682;
$base005: #6c71c4;
$base006: #268bd2;
$base007: #2aa198;
$base008: #859900;

$break-point-md: 48em;
$break-point-sm: 35.5em;

@mixin screen-md {
  @media screen and (min-width: $break-point-md) {
    @content;
  }
}


@mixin screen-sm {
  @media screen and (min-width: $break-point-sm) {
    @content;
  }
}

@mixin screen-print {
  @media print {
    @at-root {
      @media print {
        & { @content; }
      }
    }
  }
}

@mixin screen-not-print {
  @at-root {
    @media not print {
      & { @content }
    }
  }
}
