.layout__container {
  max-width: 960px;
  margin: 3rem auto;
}

.layout__row {
  font-size: 0;
}

.layout__column {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}

.layout__column-offset--1 {
  margin-left: 8.33%;
}

.layout__column--2 {
  width: 16.66%;
}

.layout__column--3 {
  width: 25%;
}

.layout__column--4 {
  width: 33.33%;
}


.layout__column--8 {
  width: 66.66%;
}

.layout__column--9 {
  width: 75%;
}

.layout__column--10 {
  width: 83.33%;
}
